[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pypdf = "*"
urllib3 = "*"
flask = "*"
matplotlib = "*"
scikit-learn = "*"
numpy = "*"
pandas = "*"
seaborn = "*"

[dev-packages]

[requires]
python_version = "3.9"
